# Ignore source files
src/
*.ts
*.tsx
*.map

# Ignore Test configuration files
jest*.ts
jest*.js

# Ignore GitHub workflows and settings
.github/

# Ignore TypeScript configuration files
tsconfig*.json

# Ignore test and documentation files (ถ้ามี)
test/
docs/

# ไม่ให้ละเว้นไฟล์ใน dist/
!dist/
